altgraph==0.17.3
astroid==2.11.7
auto-py-to-exe==2.26.1
bottle==0.12.23
certifi
chardet
colorama
cycler

future
gevent==22.10.2
gevent-websocket==0.10.1

idna
isort==5.10.1
kiwisolver
lazy-object-proxy==1.8.0
macholib
matplotlib==3.6.2
mccabe==0.7.0
numpy==1.23.5
pefile==2022.5.30
protobuf==3.20.3
pycparser
pyinstaller==5.7.0
pylint==2.15.9
pyparsing
pypiwin32==223
pyqtgraph==0.12.4
python-dateutil
pytz==2022.7
pywin32==305
pywin32-ctypes==0.2.0
requests
six
tensorflow==2.11.0
typed-ast==1.5.4
urllib3
whichcraft==0.6.1
wrapt==1.14.1